:host {
  width: 100%;
  margin-bottom: 1rem;
}

.totals-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;

  .total-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-self: flex-end;
    flex-grow: 1;
    margin-left: 2rem;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .total {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      width: 100%;

      label {
        font-size: 13px;
        font-weight: 600;
      }

      mat-icon {
        font-size: 16px;
      }

      span {
        font-size: 18px;
        font-weight: bold;
        padding-left: 1rem;

        small {
          font-weight: 500;
        }
      }

      @media only screen and (max-width: 745px) {
        label {
          font-size: 10px;
        }

        span {
          font-size: 14px;
        }
      }
    }
  }

  #mobile-view {
    width: 100%;
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;

    .total-group {
      max-width: fit-content;

      mat-button-toggle {
        max-width: 7rem;
      }

      mat-icon {
        font-size: 20px;
      }

      label {

        font-size: 12px;
        font-weight: 600;
      }

      #sm-mobile-total {
        display: none;
      }
    }

    .activity-total {
      font-family: Roboto, "Helvetica Neue", sans-serif !important;
      font-size: 18px;
      font-weight: bold;
      padding-left: 1rem;

      display: flex;
      flex-flow: nowrap column;

      small {
        align-self: flex-end;
        font-weight: 500;
      }
    }

    @media only screen and (max-width: 345px) {
      .total-group {
        mat-icon {
          font-size: 16px;
        }

        #sm-mobile-total {
          display: inline;
        }

        #mobile-total {
          display: none;
        }
      }
      .activity-total {
        font-size: 16px;
      }
    }
  }

  @media only screen and (max-width: 940px) {
    mat-form-field {
      width: 100%;
    }
    .total-group {
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 495px) {
    .total-group {
      flex-grow: 1;
      flex-basis: 95%;
    }
  }

  @media only screen and (max-width: 645px) {
    #mobile-view {
      display: flex;
    }
    #large-screen-view {
      display: none;
    }
  }
}
