<div class="totals-container">
  <mat-form-field>
    <mat-label>Office</mat-label>
    <mat-select [value]="'All'" (selectionChange)="refreshTotals($event)">
      <mat-option *ngFor="let office of capTechOffices" [value]="office">
        {{ office }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-button-toggle-group class="total-group" value="total">
    <mat-button-toggle class="total combined" value="total">
      <label>Total</label>
      <span>{{ totals?.totalMiles || '--' }} <small>miles</small></span>
    </mat-button-toggle>
    <mat-button-toggle class="total" value="bike">
      <mat-icon [inline]="true">directions_bike</mat-icon>
      <span>{{ totals?.totalBike || '--' }} <small>miles</small></span>
    </mat-button-toggle>
    <mat-button-toggle class="total" value="run">
      <mat-icon [inline]="true">directions_run</mat-icon>
      <span>{{ totals?.totalRun || '--' }} <small>miles</small></span>
    </mat-button-toggle>
    <mat-button-toggle class="total" value="walk">
      <mat-icon [inline]="true">directions_walk</mat-icon>
      <span>{{ totals?.totalWalk || '--' }} <small>miles</small></span>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<mat-divider></mat-divider>
