<div class="totals-container">
  <mat-form-field>
    <mat-label>Office</mat-label>
    <mat-select [value]="'All'" (selectionChange)="refreshTotals($event)">
      <mat-option *ngFor="let office of capTechOffices" [value]="office">
        {{ office }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-button-toggle-group class="total-group" id="large-screen-view"
                           value="all" (change)="updateSelectedActivityType($event)">
    <mat-button-toggle class="total" value="bike">
      <mat-icon [inline]="true">directions_bike</mat-icon>
      <span>{{ (totals?.totalBike | number) || '--' }} <small>miles</small></span>
    </mat-button-toggle>
    <mat-button-toggle class="total" value="run">
      <mat-icon [inline]="true">directions_run</mat-icon>
      <span>{{ (totals?.totalRun | number) || '--' }} <small>miles</small></span>
    </mat-button-toggle>
    <mat-button-toggle class="total" value="walk">
      <mat-icon [inline]="true">directions_walk</mat-icon>
      <span>{{ (totals?.totalWalk | number) || '--' }} <small>miles</small></span>
    </mat-button-toggle>
    <mat-button-toggle class="total combined" value="all">
      <label>TOTAL</label>
      <span>{{ (totals?.totalMiles | number) || '--' }} <small>miles</small></span>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div id="mobile-view">
    <mat-button-toggle-group class="total-group" value="total" (change)="updateSelectedActivityType($event)">
      <mat-button-toggle class="total" value="bike">
        <mat-icon [inline]="true">directions_bike</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="total" value="run">
        <mat-icon [inline]="true">directions_run</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="total" value="walk">
        <mat-icon [inline]="true">directions_walk</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="total combined" value="total">
        <label id="mobile-total">TOTAL</label>
        <mat-icon [inline]="true" id="sm-mobile-total">functions</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <div class="activity-total">
      {{ (selectedActivityTotal | number) || '--' }}
      <small>miles</small>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
