<div class="totals-container">
  <mat-form-field>
    <mat-label>Office</mat-label>
    <mat-select [value]="'All'" (selectionChange)="refreshTotals($event)">
      <mat-option *ngFor="let office of capTechOffices" [value]="office">
        {{ office }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="total-group">
    <div class="total combined">
      <label>Total</label>
      <span>{{ totals?.totalMiles || '--' }} <small>miles</small></span>
    </div>
    <div class="total">
      <mat-icon [inline]="true">directions_bike</mat-icon>
      <span>{{ totals?.totalBike || '--' }} <small>miles</small></span>
    </div>
  </div>
  <div class="total-group">
    <div class="total">
      <mat-icon [inline]="true">directions_run</mat-icon>
      <span>{{ totals?.totalRun || '--' }} <small>miles</small></span>
    </div>
    <div class="total">
      <mat-icon [inline]="true">directions_walk</mat-icon>
      <span>{{ totals?.totalWalk || '--' }} <small>miles</small></span>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
