<mgl-map
  [style]="'mapbox://styles/jayfialkowski/ck8rjl0bu0d0f1iqke6vrbf3z'"
  (load)="setMap($event)">

  <mgl-geojson-source *ngIf="line" id="source" [data]="line"></mgl-geojson-source>
  <mgl-layer *ngIf="line" id="trace" type="line" source="source" [layout]="lineLayout" [paint]="linePaint"></mgl-layer>
  <mgl-geojson-source *ngIf="point" id="pointSource" [data]="point"></mgl-geojson-source>
  <mgl-layer *ngIf="point" id="tracePoint" type="symbol" source="pointSource" [layout]="pointLayout"></mgl-layer>
</mgl-map>
