<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="150"
    alt="CapTech Logo"
    src="assets/CapTech_Logo_NoTag-White.png"
  />
  <span>Marathon</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!--  start mock-up, todo replace -->
  <div class="total-combined-tally ">
    <div>overall total placeholder</div>
  </div>
  <div class="map-placeholder">map placeholder</div>
  <div class="total-placeholder">
    <div class="total-tally">bike total placeholder</div>
    <div class="total-tally">run total placeholder</div>
    <div class="total-tally">walk total placeholder</div>
  </div>
  <!--  end mock-up -->

  <button id="smallScreenAdd" mat-fab color="primary" class="mat-fab" (click)="openAddActionSheet()">
    <mat-icon>add</mat-icon>
  </button>

  <!-- Footer -->
  <footer></footer>
</div>
